

/* Headings Font  */
@font-face {
    font-family: Oswald;
    src: url('./fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: Oswald;
    src: url('./fonts/Oswald-Medium.ttf');
    font-weight: bold;
}

/* Text Font  */
@font-face {
    font-family: SourceSansPro;
    src: url('./fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: SourceSansPro;
    src: url('./fonts/SourceSansPro-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: SourceSansPro;
    src: url('./fonts/SourceSansPro-Italic.ttf');
    font-style: italic;
}
